body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 100px;
	font-family: 'Lato', sans-serif; 
}

.backgroundgradient {background: linear-gradient(70deg, white, green);
}

h1 {
	font-weight: lighter;
	font-size: 60px;
	letter-spacing: 2px;
	margin-bottom: 0px;

}

.inputsection {
	margin: 50px 0px 80px 0px;
	width: 400px;
}

.inputs {
	width: inherit;
	display: flex;
	flex-direction: column;
}

input {
	margin-top: 10px;
}

.addOption {
	margin-top: 10px;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.resultsection {
	display: flex;
	align-items: center;
	margin-top: 75px;
	margin-bottom: 75px;
	color: black;
  	font-size: 36px;
  	font-family: 'Lato', sans-serif;
}
	
